<div style="margin:0 10px">
	<div class="reasons">
	  <h4><%= link_to "Usage Guidelines".t, guidelines_path %></h4>
	  <p>
			<%= "A few tips on how to post a good case:".t %>
	  </p>
		<ul>
		  <li><%= "Be specific and clear. It's difficult to provide a great response to a vaguely formulated case.".t %></li>
		  <li><%= "Be courteous and thoughtful. Do not post your case that people may find insulting.".t %></li>
		  <li><%= "Offering a monetary reward can help you get a more accurate response. Consider what you are willing to pay for a well researched response.".t %></li>
		</ul>
	</div>
</div>
