<%# invitations/faq %>
<div class="faq">
  <p class="question">
    <%= "Why should I invite my friends?".t %>
  </p>
  <p class="answer">
    <%= ["Your friends and their friends are the best source for advice you seek.".t, "Usually, the closer the relationship we have to people giving advice, the more we trust their recommendations.".t].to_sentences %>
  </p>
  <p class="question">
    <%= "What is a contact invitation?".t %>
  </p>
  <p class="answer">
    <%= "An invitation is a message to your friend asking to join #{SERVICE_NAME}.".t %>
  </p>
  <p class="question">
    <%= "What is a contact?".t %>
  </p>
  <p class="answer">
    <%= "A contact is a friend who has accepted your invitation.".t %>
  </p>
  <p class="question">
    <%= "What is a partner membership voucher?".t %>
  </p>
  <p class="answer">
    <%= "A partner membership voucher gives you access to a free premium membership.".t %>
  </p>
</div>