<%# home_pages/widget_examples_en  --- English  %>
<ul>
  <li>
    <span><%= link_to("Business Legal", tier_root_path(:tier_id => LEGAL_TIER_SITE_NAME)) %></span>&nbsp;<%= "Which legal structure suits my small business?" %>
  </li>
  <li>
    <span><%= link_to("Real-estate", tier_root_path(:tier_id => BUSINESS_TIER_SITE_NAME)) %></span>&nbsp;<%= "How do I determine the fair market value of a rental?" %>
  </li>
  <li>
    <span><%= link_to("IT Legal", tier_root_path(:tier_id => LEGAL_TIER_SITE_NAME)) %></span>&nbsp;<%= "Which license agreements should I use for my Website?" %>
  </li>
  <li>
    <span><%= link_to("Health", tier_root_path(:tier_id => HEALTH_TIER_SITE_NAME)) %></span>&nbsp;<%= "What is the limit of healthy weight loss per week?" %>
  </li>
  <li>
    <span><%= link_to("Travel", tier_root_path(:tier_id => TOURISM_TIER_SITE_NAME)) %></span>&nbsp;<%= "Does anyone have any hotel suggestions for a weekend trip to Rhode Island, RI?" %>
  </li>
  <li>
    <span><%= link_to("Employment Law", tier_root_path(:tier_id => LEGAL_TIER_SITE_NAME)) %></span>&nbsp;<%= "How do I prepare a reasonable notice of termination of employment?" %>
  </li>
  <li>
    <span><%= link_to("Business and Money", tier_root_path(:tier_id => BUSINESS_TIER_SITE_NAME)) %></span>&nbsp;<%= "How can I find out my credit score?" %>
  </li>
  <li>
    <span><%= link_to("Computer Software", tier_root_path(:tier_id => COMPUTER_TIER_SITE_NAME)) %></span>&nbsp;<%= "How can I set up my e-mail client to prevent spam and phishing attempts?" %>
  </li>
  <li class="last">
    <span><%= link_to("Business", tier_root_path(:tier_id => BUSINESS_TIER_SITE_NAME)) %></span>&nbsp;<%= "Which tools can be used to track social media activity?" %>
  </li>
</ul>
