<%# home_pages/widget_examples_de  --- deutsch  %>
<ul>
  <li>
    <span><%= link_to("Getting started on a project", tier_kases_path(:tier_id => BUSINESS_TIER_SITE_NAME)) %></span>&nbsp;<%= "Which legal structure suits my small business?" %>
  </li>
  <li>
    <span><%= link_to("Real-estate", tier_kases_path(:tier_id => BUSINESS_TIER_SITE_NAME)) %></span>&nbsp;<%= "How do I determine the fair market value of a rental?" %>
  </li>
  <li>
    <span><%= link_to("IT Legal", tier_kases_path(:tier_id => LEGAL_TIER_SITE_NAME)) %></span>&nbsp;<%= "Which license agreements should I use for my application?" %>
  </li>
  <li>
    <span><%= link_to("Health topics", tier_kases_path(:tier_id => HEALTH_TIER_SITE_NAME)) %></span>&nbsp;<%= "What is the limit of healthy weight loss per week?" %>
  </li>
  <li>
    <span><%= link_to("Travel tips", tier_kases_path(:tier_id => TOURISM_TIER_SITE_NAME)) %></span>&nbsp;<%= "Does anyone have any hotel suggestions for a weekend trip to Rhode Island, RI?" %>
  </li>
  <li>
    <span><%= link_to("Employment law", tier_kases_path(:tier_id => LEGAL_TIER_SITE_NAME)) %></span>&nbsp;<%= "What is reasonable notice of termination of employment?" %>
  </li>
  <li>
    <span><%= link_to("Personal Finance and Money", tier_kases_path(:tier_id => BUSINESS_TIER_SITE_NAME)) %></span>&nbsp;<%= "How can I find out my credit-score?" %>
  </li>
  <li>
    <span><%= link_to("Technical", tier_kases_path(:tier_id => COMPUTER_TIER_SITE_NAME)) %></span>&nbsp;<%= "What is the best regular expression for validating email addresses?" %>
  </li>
  <li class="last">
    <span><%= link_to("Business related", tier_kases_path(:tier_id => BUSINESS_TIER_SITE_NAME)) %></span>&nbsp;<%= "Which tools can be used to track social media activity?" %>
  </li>
</ul>
