<%# home_pages/widget_examples_es  --- Español  %>
<ul>
  <li>
    <span><%= link_to("Comenzar con un proyecto", tier_kases_path(:tier_id => BUSINESS_TIER_SITE_NAME)) %></span>&nbsp;<%= "¿Qué estructura legal es la mejor para mi pyme?" %>
  </li>
  <li>
    <span><%= link_to("Inmobiliaria", tier_kases_path(:tier_id => BUSINESS_TIER_SITE_NAME)) %></span>&nbsp;<%= "¿Cómo determino el valor correcto de mercado de un alquiler?" %>
  </li>
  <li>
    <span><%= link_to("Derecho orientado a TI", tier_kases_path(:tier_id => LEGAL_TIER_SITE_NAME)) %></span>&nbsp;<%= "¿Cuáles acuerdos de licencias debería implementar para mi aplicación?" %>
  </li>
  <li>
    <span><%= link_to("Salud", tier_kases_path(:tier_id => HEALTH_TIER_SITE_NAME)) %></span>&nbsp;<%= "¿Cuál es la máxima pérdida de peso saludable por semana?" %>
  </li>
  <li>
    <span><%= link_to("Consejos para viajes", tier_kases_path(:tier_id => TOURISM_TIER_SITE_NAME)) %></span>&nbsp;<%= "¿Alguien tiene alguna sugerencia para un hotel para un viaje de fin de semana a Madrid?" %>
  </li>
  <li>
    <span><%= link_to("Derecho laboral", tier_kases_path(:tier_id => LEGAL_TIER_SITE_NAME)) %></span>&nbsp;<%= "¿Cuánto es el tiempo de preaviso razonable antes de un despido?" %>
  </li>
  <li>
    <span><%= link_to("Dinero y finanzas personales", tier_kases_path(:tier_id => BUSINESS_TIER_SITE_NAME)) %></span>&nbsp;<%= "¿Cómo puedo determinar mi puntaje crediticio?" %>
  </li>
  <li>
    <span><%= link_to("Técnica", tier_kases_path(:tier_id => COMPUTER_TIER_SITE_NAME)) %></span>&nbsp;<%= "¿Cuál es la mejor expresión regular para validad direcciones de email?" %>
  </li>
  <li class="last">
    <span><%= link_to("Negocios", tier_kases_path(:tier_id => BUSINESS_TIER_SITE_NAME)) %></span>&nbsp;<%= "¿Qué herramientas se pueden usar para controlar la actividad en redes sociales?" %>
  </li>
</ul>
